<ion-header>
  <ion-toolbar>
    <ion-title>
      Info
    </ion-title>
  </ion-toolbar>
 </ion-header>
  
 <ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mis sitios:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Aplicación de muestra del Tutorial de Ionic – Construye Apps multiplataforma con ionic desde cero.</p>
    </ion-card-content>
  </ion-card>
  <ion-button (click)="cerrarSesion()" expand="block">Cerrar Sesión</ion-button>
 </ion-content>
 
